<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.cnproxy.mapper.InvitationCodeMapper">


    <insert id="assignInvitationCode" parameterType="com.github.cnproxy.entity.InvitationCode" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO invitation_codes (code,user_id,used) VALUES (<![CDATA[#{code}]]>,<![CDATA[#{userId}]]>,<![CDATA[#{used}]]>)
    </insert>

    <select id="myInvitationCode" resultType="com.github.cnproxy.entity.InvitationCode">
        SELECT * FROM invitation_codes WHERE user_id = <![CDATA[#{userId}]]> ORDER BY used ASC
    </select>

    <select id="findInvitationCode" resultType="com.github.cnproxy.entity.InvitationCode">
        SELECT * FROM invitation_codes WHERE code = <![CDATA[#{code}]]>
    </select>

    <select id="findAllInvitationCode" resultType="com.github.cnproxy.entity.InvitationCode">
        SELECT * FROM invitation_codes ORDER BY userId ASC, used ASC
    </select>

    <update id="useInvitationCode">
        UPDATE invitation_codes SET used = 1 WHERE code = <![CDATA[#{code}]]>
    </update>

</mapper>