<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.cnproxy.mapper.ProxyMapper">

    <resultMap id="UserResult" type="com.github.cnproxy.entity.User">
        <result property="id" column="id" />
        <result property="qq" column="qq" />
        <result property="inviteBy" column="invite_by" />
        <result property="creationOn" column="creation_on" javaType="java.util.Date" jdbcType="TIMESTAMP" />
        <result property="modifiedOn" column="modified_on" javaType="java.util.Date" jdbcType="TIMESTAMP" />
        <collection property="userServices" ofType="com.github.cnproxy.entity.UserService">
            <result property="vmessUUID" column="vmess_uuid" />
            <result property="shadowsocksPort" column="shadowsocks_port" />
            <result property="shadowsocksPass" column="shadowsocks_pass" />
            <result property="beginTime" column="begin_time" />
            <result property="expireTime" column="expire_time" />
            <result property="descript" column="descript" />
            <association property="service" javaType="com.github.cnproxy.entity.Service">
                <result property="serviceName" column="service_name" />
                <result property="serviceType" column="service_type" />
                <result property="price" column="price" />
            </association>
        </collection>
    </resultMap>

    <insert id="saveUser" parameterType="com.github.cnproxy.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (qq,email,pass,invite_by) VALUES (
          <![CDATA[#{qq}]]>,<![CDATA[#{email}]]>,<![CDATA[#{pass}]]>,<![CDATA[#{inviteBy}]]>
        )
    </insert>

    <select id="findUser" resultMap="com.github.cnproxy.mapper.ProxyMapper.UserResult">
        SELECT
	      u.id,u.qq,u.invite_by,
	      us.vmess_uuid,us.shadowsocks_port,us.shadowsocks_pass,us.begin_time,us.expire_time,us.expired,us.descript
	      s.service_name,s.service_type,s.price
        FROM user_service us
	      INNER JOIN users u ON us.user_id = u.id AND u.active = 'Y'
	      INNER JOIN services s ON us.service_id = s.id AND s.active = 'Y'
        WHERE u.qq = <![CDATA[#{qq}]]>
    </select>

    <select id="login" resultType="com.github.cnproxy.entity.User">
        SELECT * FROM users u WHERE u.qq = <![CDATA[#{qq}]]>
    </select>


    <select id="expiredRanking" resultType="com.github.cnproxy.dto.ExpiredRankingDTO">
        SELECT
	      u.qq,
	      us.vmess_uuid vmessUUID,us.shadowsocks_port shadowsocksPort,us.shadowsocks_pass shadowsocksPass,us.begin_time beginTime,us.expire_time expireTime,us.descript
	      s.service_name serviceName,s.service_type serviceType,s.price
        FROM user_service us
	      INNER JOIN users u ON us.user_id = u.id AND u.active = 'Y'
	      INNER JOIN services s ON us.service_id = s.id AND s.active = 'Y'
        ORDER BY us.expire_time ASC
    </select>

</mapper>