<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.cnproxy.mapper.UserMapper">

    <resultMap id="UserResult" type="com.github.cnproxy.entity.User">
        <result property="id" column="id" />
        <result property="qq" column="qq" />
        <result property="pass" column="pass" />
        <result property="inviteBy" column="invite_by" />
        <result property="creationOn" column="creation_on" javaType="java.util.Date" jdbcType="TIMESTAMP" />
        <result property="modifiedOn" column="modified_on" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </resultMap>

    <insert id="saveUser" parameterType="com.github.cnproxy.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (qq,email,pass,invite_by) VALUES (
          <![CDATA[#{qq}]]>,<![CDATA[#{email}]]>,<![CDATA[#{pass}]]>,<![CDATA[#{inviteBy}]]>
        )
    </insert>

    <select id="findUser" resultMap="com.github.cnproxy.mapper.UserMapper.UserResult">
        SELECT id,qq,email,pass,invite_by,creation_on,modified_on FROM users WHERE qq = <![CDATA[#{qq}]]>
    </select>

</mapper>